.contactContainer {
  margin-top: 30px;
  margin-bottom: 100px;
}
.contactHeading {
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
}
.contactTitle {
  text-align: center;
  color: gray;
}
.contact {
  background-image: url("../Home/images/slider1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  margin: 20px 0 5px 0;
}
.form-group {
  margin: 20px;
}
