.productSingle {
  padding: 5rem 3rem 3rem 3rem;
}
.productSingle__inner {
  display: flex;
  padding-left: 100px;
  margin-top: 60px;
  margin-bottom: 40px;
}
.productSingle__image {
  flex: 0 0 calc(100% / 2.5);
  padding-bottom: calc((100% / 2.5) * 1.33);
  height: 0;
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  background: #fff;
}
.productSingle img {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: contain;
  padding: 1rem;
}
.productSingle__details {
  padding: 3rem;
  padding-right: 1rem;
  display: flex;
  flex-flow: column nowrap;
}
.productSingle__details > h2 {
  font-weight: bold;
}
.productSingle__details .productSingle__footer {
  margin-top: 160px;
  margin-left: 30px;
}
.productSingle__features {
  margin: 0;
  padding: 0;
  margin: 1rem 2rem;
  list-style-type: none;
}
.productSingle__features li {
  position: relative;
  padding: 0;
  line-height: 1.2;
  margin-bottom: 1rem;
}

.productSingle__price {
  display: flex;
  align-items: baseline;
  margin: 0.25rem;
}
.productSingle__price + .buttons {
  margin-top: 1.5rem;
}
.productSingle__price h4 {
  font-weight: 900;
  margin: 0;
  margin-right: 0.5rem;
}

@media (max-width: 550px) {
  .productSingle {
    padding: 3rem 1.5rem;
  }
  .productSingle__inner {
    flex-flow: column;
  }
  .productSingle__image {
    flex: 0 0 100%;
    padding-bottom: calc(100% * 1.33);
  }
  .productSingle__details {
    padding: 3rem 0;
  }
  .productSingle__features {
    margin: 1rem 0 1rem 2rem;
  }
}

.checkoutMain {
  min-height: 1000px;
}

.container-checkout {
  position: relative;
  top: 150px;
}
