.NavBody {
  height: 900px;
  position: fixed;
  background-color: #01adfd2f;
  padding-left: 30px;
  padding-right: 20px;
  z-index: 100;
}

.page__Name > h5{
  font-weight: 700;
}

.first__Name{
  color: red;
  font-style: italic;
  font-weight: 900;
}

.d-None {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.SearchInput {
  margin-left: auto;
}

@media (max-width: 660px) {
  .SearchInput {
    display: block;
    position: absolute;
    left: 60px;
    top: 30px;
  }
  .NavBody {
    display: none;
  }
  .selectLanguage {
    display: none !important;
  }

  .logoutbtn {
    display: none !important;
  }
}

.TopNav {
  height: 100px;
  position: fixed;
  width: 100%;
  padding-top: 30px;
  padding-right: 100px;
  z-index: 100;
}

.InputIcon {
  position: relative;
  top: 8px;
  left: 30px;
  color: gray;
}

.icon-Color {
  color: white !important;
}
.cartLength {
  background-color: red;
  padding: 7px;
  border-radius: 100px;
  font-weight: 900;
}
